@font-face {
  font-family: "Norse";
  src: url(./fonts/Norse.otf);
}

/* Special THX to @dhanishgajjar from codepen.io for animated book code below */   
body {
    background: #323d3f;
    color: white;
  } 
  
  .book {
    float: left;
    transform-style: preserve-3d;
    position: relative;
    height: 300px;
    cursor: pointer;
    backface-visibility: visible;
  }
  
  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  }
  
  .front, .back {
    background: navy;
  }
  
  .front, .page1, .page3, .page5 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
  }
  
  .back, .page2, .page4, .page6 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
  }
  
  .page1 { 
    background: #efefef;
  }
  
  .page2 {
    background: #efefef;
  }
  
  .page3 {
    background: #f5f5f5;
  }
  
  .page4 {
    background: #f5f5f5;
  }
  
  .page5 {
    background: #fafafa;
    text-align: center;
  }
  
  .page6 {
    background: #fdfdfd;
    text-align: center;
    
  }
  
  .book:hover .front {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page1 {
    transform: rotateY(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page2 {
    transform: rotateY(-30deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page3 {
    transform: rotateY(-140deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page4 {
    transform: rotateY(-40deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page5 {
    transform: rotateY(-130deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .page6 {
    transform: rotateY(-50deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book:hover .back {
    transform: rotateY(-20deg) scale(1.1);
  }
/* Special THX to @dhanishgajjar from codepen.io for animated book code above */    


#hide {
  visibility: hidden;
}

.link {
  color: white;
  margin-left: 1em;
  font-family: "Norse";
  font-size: 45px;
}


.clicker {
  vertical-align: middle;
  max-height: 50%;
  max-width: 50%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}


.front {
  font-family: "Norse";
  text-align: center;
  color: white;
  font-size: 50px;
}

.title-box {
  font-family: "Norse";
  width: 100%;
  text-align: center;
}

.container {
  display: inline-flex;
  width: 100%;
  padding: 10px;
}

.img-box {
  width: 50%;
  padding-right: 50px;
  }

.img-quesadilla, .img-spaghetti, .img-chicken {
    width: 100%;
    height: 80%;
  }

.text-box {
  padding-left: 50px;
  width: 50%;
}

.footer-box {
  width: 100%;
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: greenyellow;
}

